In [1]:
pip install -U PyYAML

Requirement already satisfied: PyYAML in c:\users\emerson\anaconda3\lib\site-packages (6.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
!pip3.7 install pyyaml

'pip3.7' não é reconhecido como um comando interno
ou externo, um programa operável ou um arquivo em lotes.

In [3]:
from requests import get
from bs4 import BeautifulSoup
from yaml import load, FullLoader,dump
import re 
import numpy as np

In [4]:
resposta = get('https://www.w3schools.io/file/yaml-sample-example/')

In [5]:
tags = BeautifulSoup(resposta.text,'html5lib')

In [6]:
yaml = []
spans = tags.find("code",attrs={"class" : "language-Yaml"})

In [7]:
for span in spans:
   try:
    yaml.append(span.text)
   except Exception:
    pass

In [8]:
yaml

['\n',
 '',
 '---',
 '  ',
 '# yaml document begining',
 '\n',
 '',
 '# comment syntax',
 '\n',
 '\n',
 '',
 '# basic syntax - key and value separated by colon and space before the value',
 '\n',
 '',
 'key',
 ':',
 ' ',
 'value',
 '\n',
 '\n',
 '',
 '# Scalar data types',
 '\n',
 '',
 'integerValue',
 ':',
 ' ',
 '1',
 '                     ',
 '# integer value',
 '\n',
 '',
 'floatingValue',
 ':',
 ' ',
 '1',
 '                     ',
 '# floating vale',
 '\n',
 '\n',
 '',
 'stringValue',
 ':',
 ' ',
 '"456"',
 '                   ',
 '# string with double quotes',
 '\n',
 '',
 'stringValue',
 ':',
 ' ',
 "'abc'",
 '                  ',
 '# string with single quotes',
 '\n',
 '',
 'stringValue',
 ':',
 ' ',
 'wer                  ',
 ' ',
 '# string without quotes',
 '\n',
 '\n',
 '',
 'booleanValue:true                  ',
 ' ',
 '# boolean values - true or false',
 '\n',
 '\n',
 '\n',
 '',
 '# Multiline string with literal block syntax -preserved new lines',
 '\n',
 '',
 'string1',
 ':',
 ' ',
 '|',
 '\n',
 '   Line1\n',
 '   line2\n',
 '   "line3"',
 '   \n',
 '  ',
 'line4',
 '\n',
 '\n',
 '',
 '# Multiline strings with folded block syntax - new lines are not preserved, leading and trailing spaces are ignore',
 '\n',
 '  ',
 'string1',
 ':',
 ' ',
 '>',
 '\n',
 '   Line1\n',
 '   line2\n',
 '   "line3"',
 '   \n',
 '  ',
 'line4',
 '\n',
 '',
 '# Collection sequence data types',
 '\n',
 ' ',
 '# sequence arraylist example',
 '\n',
 ' ',
 '- ',
 'One',
 '\n',
 ' ',
 '- ',
 'two',
 '\n',
 ' ',
 '- ',
 'Three',
 '\n',
 '\n',
 '  ',
 '# another way of sequence  syntax example',
 '\n',
 '  ',
 '[',
 'one, two , three]',
 '\n',
 '\n',
 '',
 '### dictionary',
 '\n',
 '  ',
 'mysqldatabase',
 ':',
 '\n',
 '    ',
 'hostname',
 ':',
 ' ',
 'localhost',
 '\n',
 '    ',
 'port',
 ':',
 ' ',
 '3012',
 '\n',
 '    ',
 'username',
 ':',
 ' ',
 'root',
 '\n',
 '    ',
 'password',
 ':',
 ' ',
 'root',
 '\n']

In [9]:
yaml2 = []
for y in yaml:
  if re.match(r'#',y):
    pass
  else:
    yaml2.append(y)

In [10]:
yaml3 = []
for y in yaml2:
  if re.match(r'$',y):
    pass
  else:
     yaml3.append(y)
yaml3

['---',
 '  ',
 'key',
 ':',
 ' ',
 'value',
 'integerValue',
 ':',
 ' ',
 '1',
 '                     ',
 'floatingValue',
 ':',
 ' ',
 '1',
 '                     ',
 'stringValue',
 ':',
 ' ',
 '"456"',
 '                   ',
 'stringValue',
 ':',
 ' ',
 "'abc'",
 '                  ',
 'stringValue',
 ':',
 ' ',
 'wer                  ',
 ' ',
 'booleanValue:true                  ',
 ' ',
 'string1',
 ':',
 ' ',
 '|',
 '   Line1\n',
 '   line2\n',
 '   "line3"',
 '   \n',
 '  ',
 'line4',
 '  ',
 'string1',
 ':',
 ' ',
 '>',
 '   Line1\n',
 '   line2\n',
 '   "line3"',
 '   \n',
 '  ',
 'line4',
 ' ',
 ' ',
 '- ',
 'One',
 ' ',
 '- ',
 'two',
 ' ',
 '- ',
 'Three',
 '  ',
 '  ',
 '[',
 'one, two , three]',
 '  ',
 'mysqldatabase',
 ':',
 '    ',
 'hostname',
 ':',
 ' ',
 'localhost',
 '    ',
 'port',
 ':',
 ' ',
 '3012',
 '    ',
 'username',
 ':',
 ' ',
 'root',
 '    ',
 'password',
 ':',
 ' ',
 'root']

In [11]:
yaml4 = []
for y in yaml3:
  y = y.strip()
  if re.match(r' ',y):
    print(f"tamanho = {len(y)} - string {y}")
    ##pass
  else:
    yaml4.append(y)
yaml4

['---',
 '',
 'key',
 ':',
 '',
 'value',
 'integerValue',
 ':',
 '',
 '1',
 '',
 'floatingValue',
 ':',
 '',
 '1',
 '',
 'stringValue',
 ':',
 '',
 '"456"',
 '',
 'stringValue',
 ':',
 '',
 "'abc'",
 '',
 'stringValue',
 ':',
 '',
 'wer',
 '',
 'booleanValue:true',
 '',
 'string1',
 ':',
 '',
 '|',
 'Line1',
 'line2',
 '"line3"',
 '',
 '',
 'line4',
 '',
 'string1',
 ':',
 '',
 '>',
 'Line1',
 'line2',
 '"line3"',
 '',
 '',
 'line4',
 '',
 '',
 '-',
 'One',
 '',
 '-',
 'two',
 '',
 '-',
 'Three',
 '',
 '',
 '[',
 'one, two , three]',
 '',
 'mysqldatabase',
 ':',
 '',
 'hostname',
 ':',
 '',
 'localhost',
 '',
 'port',
 ':',
 '',
 '3012',
 '',
 'username',
 ':',
 '',
 'root',
 '',
 'password',
 ':',
 '',
 'root']

In [12]:
yaml5 = []
for y in yaml4:
  y = y.strip()
  if re.match(r'---',y) or len(y) == 0 :
    
    pass
  else:
    yaml5.append(y)
yaml5

['key',
 ':',
 'value',
 'integerValue',
 ':',
 '1',
 'floatingValue',
 ':',
 '1',
 'stringValue',
 ':',
 '"456"',
 'stringValue',
 ':',
 "'abc'",
 'stringValue',
 ':',
 'wer',
 'booleanValue:true',
 'string1',
 ':',
 '|',
 'Line1',
 'line2',
 '"line3"',
 'line4',
 'string1',
 ':',
 '>',
 'Line1',
 'line2',
 '"line3"',
 'line4',
 '-',
 'One',
 '-',
 'two',
 '-',
 'Three',
 '[',
 'one, two , three]',
 'mysqldatabase',
 ':',
 'hostname',
 ':',
 'localhost',
 'port',
 ':',
 '3012',
 'username',
 ':',
 'root',
 'password',
 ':',
 'root']

In [13]:
yaml6 = []
for y in yaml5:
   if re.match(r'\|',y) or re.match(r'\>',y):
     pass
   else:
     yaml6.append(y)
yaml6

['key',
 ':',
 'value',
 'integerValue',
 ':',
 '1',
 'floatingValue',
 ':',
 '1',
 'stringValue',
 ':',
 '"456"',
 'stringValue',
 ':',
 "'abc'",
 'stringValue',
 ':',
 'wer',
 'booleanValue:true',
 'string1',
 ':',
 'Line1',
 'line2',
 '"line3"',
 'line4',
 'string1',
 ':',
 'Line1',
 'line2',
 '"line3"',
 'line4',
 '-',
 'One',
 '-',
 'two',
 '-',
 'Three',
 '[',
 'one, two , three]',
 'mysqldatabase',
 ':',
 'hostname',
 ':',
 'localhost',
 'port',
 ':',
 '3012',
 'username',
 ':',
 'root',
 'password',
 ':',
 'root']

In [14]:
anterior = ''
atual = ''
keys = []
value= []
for palavra in yaml6:
  anterior = atual
  atual = palavra
  if atual == ':':
    keys.append(anterior)
  elif anterior == ':':
    value.append(atual)

In [15]:
dicionario = dict(zip(keys,value))

In [16]:
dicionario

{'key': 'value',
 'integerValue': '1',
 'floatingValue': '1',
 'stringValue': 'wer',
 'string1': 'Line1',
 'mysqldatabase': 'hostname',
 'hostname': 'localhost',
 'port': '3012',
 'username': 'root',
 'password': 'root'}

In [23]:
with open("nova_yaml.yml", "w") as file:
  dump(dicionario,file)

In [24]:
with open("nova_yaml.yml") as file:
    yaml_file = load(file, Loader=FullLoader)

In [25]:
yaml_file

{'floatingValue': '1',
 'hostname': 'localhost',
 'integerValue': '1',
 'key': 'value',
 'mysqldatabase': 'hostname',
 'password': 'root',
 'port': '3012',
 'string1': 'Line1',
 'stringValue': 'wer',
 'username': 'root'}